/*--------- Footer STYLES --------- */
.footer {
    background-color: var(--main-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1600px;
    margin: 0 auto;
    & .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            @media screen and (min-width: 768px){
                flex-direction: column;
                
    }   
            @media screen and (min-width: 1200px){
                align-items: baseline;
                flex-direction: row;
    }

}
}

.tablet-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
        width: 100%;
        align-items: baseline;
        flex-direction: row;
        justify-content: space-around;

    }

    @media screen and (min-width: 1200px) {
        align-items: baseline;
        flex-direction: row;
        margin-right: auto;
        margin-bottom: 0;
        justify-content: left;
       
    }
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: inline-block;
    & .logo--accent {
            color: var(--accent-color);
        }
}

.logo--color-light {
    color: var(--logo-light-color);
    margin-bottom: 20px;
}


.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

.footer-address-wrap {
    color: #FFFFFF;
    margin-right: 0;
    margin-bottom: 60px;
    text-align: center;
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
            text-align: center;
        }
    
    @media screen and (min-width: 1200px) {
            margin-right: 70px;
            margin-bottom: 0;
            text-align:left;
        }
}

.address-list__item:not(:last-child) {
    margin-bottom: 10px;
}

.address-list__email,
.address-list__tel {
    color: var(--footer-contacts-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus,
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
}

.address-list__address,
.footer-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus,
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
}

.footer-soc {
    margin-right: 0;
    text-align: center;
    @media screen and (min-width: 768px) {
            text-align: center;
            
        }
    
        @media screen and (min-width: 1200px) {
            text-align: left;
        }
   
}

.footer-soc__title,
.connect__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
    margin-bottom: 20px;
}


.social {
    display: flex;
    justify-content: center;
}

.social__item {
    width: 44px;
    height: 44px;
    margin-left: 10px;
    &:first-child {
            margin-left: 0;
        }
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            background-color: var(--accent-color);
    
        }

}

.social__icon {
    fill: currentColor;
}

.connect {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (min-width: 768px) {
            text-align: center;
            
        }
    
        @media screen and (min-width: 1200px) {
            
            margin-bottom: 0;
            text-align: left;
        }
}

.subscribe {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
            text-align: center;
            align-items: center;
    
        }
    
        @media screen and (min-width: 1200px) {
            flex-direction: row;
            margin-bottom: 0;
            text-align: left;
        }

}

.subscribe__input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: transparent;
    padding: 15px;
    margin-right: 12px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.6);
    &::placeholder {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            color: rgba(255, 255, 255, 0.6);
        }
    &:focus {
        border-color: var(--accent-color)
    }

        @media screen and (min-width: 768px) {
            width: 70%;
    
        }
    
        @media screen and (min-width: 1200px) {
    
            margin-bottom: 0;
            text-align: left;
        }
}

.subscribe__btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.subscribe__icon {
    fill: currentColor;
    margin-left: 10px;
}



