.menu__link{

    &.active {
    color: var(--accent-color);
    position: relative;
    }
}

.mob-menu-list__link {

    &.mob-active {
        color: var(--accent-color);
       
    }
}

.active {
    &::after {
            content: '';
            display: block;
            height: 4px;
            width: 100%;
            background: var(--accent-color);
            border-color: var(--accent-color);
            border-radius: 2px;
            position: absolute;
            bottom: 0;
        }
}