:root {
    --logo-dark-color: #000000;
    --logo-light-color: #FFFFFF;
    ;
    --header-nav-color: #212121;
    --header-contacts-color: #757575;
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --border-check-color: #212121;
    --main-text-color: #757575;
    --accent-color: #2196F3;
    --main-btn-color: #2196F3;
    --second-btn-color: #F5F4FA;
    --main-bg-color: #2F303A;
    --team-card-bg: #FFFFFF;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --main-font: "Roboto", sans-serif;
}